{% extends 'index.html' %}
{% load static %}
{% block content %}

<section class="container1 forms">
    <div class="form signups">
        <div class="form-content">
            <header class="header1">signup</header>
            <form action="{% url 'creates' %}" method = "POST">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="name" placeholder="name" name="name" class="input" autocomplete="on">
                </div>

                <div class="field input-field">
                    <input type="email" placeholder="Email" name="email" class="input" autocomplete="on">
                    {% if message_for_email %}
                       <p style="color: red;">{{ message_for_email }}</p>
                    {% endif %}   
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" name="password" class="password">
                </div>
                
                <div class="field input-field">
                    <input type="password" placeholder="confirm password" name="c_password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                    {% if message_for_password_critearia %}
                        <p style="color: red; margin-top: 5px; margin-bottom: 5px;"> {{message_for_password_critearia}} </p>
                    {% endif %}    
                    {% if message_for_password_length %}
                        <p style="color : red; margin-top: 5px; margin-bottom: 5px"> {{message_for_password_length}} </p>
                    {% endif %}    
                    {% if message_for_password %}
                        <p style="color: red; margin-top: 5px; margin-bottom: 5px"> {{message_for_password}} </p>
                    {% endif %} 
                    {% if message_for_email_valid %}
                        <p style="color: red; margin-top: 5px; margin-bottom: 5px"> {{message_for_email_valid}} </p>
                    {% endif %}
                </div> 

                <div class="field button-field">
                    <button type="submit" style="margin-top: 15px;" >Signup</button>
                </div>
            </form>
            
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <i class='bx bxl-google google-icon' ></i>
                <span>Login with Google</span>
            </a>
        </div>

    </div>
</section>

{% endblock %}